<launch>
  <arg name="obstacle_height" default="1.0" />
  <arg name="obstacle_width" default="1.0" />
  <arg name="points_interval" default="0.1" />
  <arg name="obstacle_frame" default="/velodyne" />

  <node pkg="astar_planner" type="obstacle_sim" name="obstacle_sim" output="screen">
    <param name="obstacle_height" value="$(arg obstacle_height)" />
    <param name="obstacle_width" value="$(arg obstacle_width)" />
    <param name="points_interval" value="$(arg points_interval)" />
    <param name="obstacle_frame" value="$(arg obstacle_frame)" />
  </node>
</launch>