[submodule "src/sensing/drivers/cameras/camera_control_msgs"]
	path = src/sensing/drivers/cameras/camera_control_msgs
	url = https://github.com/magazino/camera_control_msgs
[submodule "src/sensing/drivers/cameras/pointgrey_camera_driver"]
	path = src/sensing/drivers/cameras/pointgrey_camera_driver
	url = https://github.com/ros-drivers/pointgrey_camera_driver
[submodule "src/sensing/drivers/cameras/pylon_camera"]
	path = src/sensing/drivers/cameras/pylon_camera
	url = https://github.com/magazino/pylon_camera
[submodule "src/sensing/drivers/cameras/spinnaker_sdk_camera_driver"]
	path = src/sensing/drivers/cameras/spinnaker_sdk_camera_driver
	url = https://github.com/neufieldrobotics/spinnaker_sdk_camera_driver
[submodule "src/sensing/drivers/cameras/zed-ros-wrapper"]
	path = src/sensing/drivers/cameras/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper
[submodule "src/sensing/drivers/lidar/ouster_example"]
	path = src/sensing/drivers/lidar/ouster_example
	url = https://github.com/project-aslan/ouster_example
	branch = aslan-dev
[submodule "src/sensing/drivers/lidar/velodyne_vlp16_vlp32c/velodyne"]
	path = src/sensing/drivers/lidar/velodyne_vlp16_vlp32c/velodyne
	url = https://github.com/project-aslan/velodyne
	branch = aslan-dev
