<!-- -->
<launch>
  <arg name="points_topic" default="points_raw" />
  <arg name="output_log" default="false" />

  <node pkg="voxel_grid_filter" name="voxel_grid_filter" type="voxel_grid_filter" output="screen">
    <param name="points_topic" value="$(arg points_topic)" />
    <param name="output_log" value="$(arg output_log)" />
  </node>
</launch>
