<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bumblebee2">

  <link name="world"/>

  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_bumblebee2.urdf.xacro" />

  <BB2-08S2C-38 frame="bumblebee2" name="bumblebee2" />


  <joint name="world_camera_joint" type="fixed">
    <origin xyz="0 0 0.200" rpy="0 0 0" />
    <parent link="world" />
    <child link="bumblebee2" />
  </joint>


</robot>
