<launch>
  <!-- Common parameters -->
  <arg name="camera_name" default="camera" />
  <arg name="frame_rate" default="15" />

  <arg name="left_camera_serial" default="0" />
  <arg name="left_camera_calibrated" default="0" />

  <arg name="right_camera_serial" default="0" />
  <arg name="right_camera_calibrated" default="0" />

  <group ns="$(arg camera_name)" >
    <group ns="left" >
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

      <!-- Both cameras are not loaded into one nodelet manager to avoid the namespacing issue. -->
      <node pkg="nodelet" type="nodelet" name="camera_nodelet"
            args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
        <param name="frame_id" value="camera_left" />
        <param name="serial" value="$(arg left_camera_serial)" />

        <!-- When unspecified, the driver will use the default framerate as given by the
             camera itself. Use this parameter to override that value for cameras capable of
             other framerates. -->
        <param name="frame_rate" value="$(arg frame_rate)" />

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" if="$(arg left_camera_calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg left_camera_serial).yaml" />
      </node>

      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
      </node>
    </group>

    <group ns="right" >
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

      <node pkg="nodelet" type="nodelet" name="camera_nodelet"
            args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
        <param name="frame_id" value="camera_right" />
        <param name="serial" value="$(arg right_camera_serial)" />

        <!-- When unspecified, the driver will use the default framerate as given by the
             camera itself. Use this parameter to override that value for cameras capable of
             other framerates. -->
        <param name="frame_rate" value="$(arg frame_rate)" />

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" if="$(arg right_camera_calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg right_camera_serial).yaml" />
      </node>

      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
      </node>

    </group>

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="approximate_sync" value="true"/>
    </node>

  </group>
</launch>
