<launch>

  <!-- Name of the camera what you want to test [flea3 or bumblebee2] currently. -->
  <arg name="camera" default="bumblebee2" />
  <arg name="use_sim" default="false" />
  <arg name="use_rviz" default="true" />
  <!-- Gazebo -->
  <group if="$(arg use_sim)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/mud.world"/>
      <arg name="gui" value="true" />
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="headless" value="false"/>
    </include>

    <!-- Spawn the robot in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg camera) -param robot_description" />
  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" />

  <!-- Load URDF -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find pointgrey_camera_description)/urdf/test_$(arg camera).urdf.xacro'" />

  <group if="$(arg use_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pointgrey_camera_description)/rviz/view_$(arg camera).rviz" />
  </group>
</launch>
