<launch>

  <arg name="model" default="sd_env200"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find vehicle_model)/urdf/$(arg model).urdf" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
