<robot name="van">
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <link name="base_link">
    <visual>
      <origin rpy="0 0 3.14" xyz="0.0 1.35 0.0"/>
      <geometry>
        <mesh filename="" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>
</robot>
